# Ignore everything
/*

# Allow important root files
!.gitignore
!README.md
!composer.json

# Allow custom Magento code
!app/
app/*
!app/code/
!app/code/**

# Ignore IDE files
.DS_Store
.idea/
.vscode/
*.swp
Thumbs.db
