<?xml version="1.0"?>
<!--
/**
 * Copyright © Adobe. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">

    <default>

        <employee>

            <cron>

                <enable>1</enable>

                <delete_days>3</delete_days>

            </cron>

        </employee>

    </default>

</config>