<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Adobe\Employee\Api\EmployeeRepositoryInterface"
                type="Adobe\Employee\Model\EmployeeRepository"/>

    <preference for="Adobe\Employee\Api\Data\EmployeeInterface"
                type="Adobe\Employee\Model\Employee"/>
    <type name="Adobe\Employee\Block\Adminhtml\Edit\Button\Save">
        <arguments>
            <argument name="context" xsi:type="object">Magento\Backend\Block\Widget\Context\Proxy</argument>
        </arguments>
    </type>            

</config>